{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Login - Pages{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/umd/styles/index.min.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />
{% endblock page_css %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/pages-auth.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="authentication-wrapper authentication-cover authentication-bg">
  <div class="authentication-inner row">
    <!-- /Left Text -->
    <div class="d-none d-lg-flex col-lg-7 p-0">
      <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center" style="width: 100%; height: 100vh; overflow: hidden;">
          <img src="{% static 'img/avatars/fondo.png' %}" alt="imagen" style="width: 100%; height: 100%; object-fit: cover;">
      </div>
    </div>
    {% comment %} <div class="d-none d-lg-flex col-lg-7 p-0" style="position: relative;">
      <img src="{% static 'img/avatars/fondo.png' %}" alt="imagen" style="position: absolute; left: 0; top: 0; width: 100vw; height: 100vh; object-fit: cover;">
    </div> {% endcomment %}
    <!-- /Left Text -->

    <!-- Login -->
    <div class="d-flex col-12 col-lg-5 align-items-center p-sm-5 p-4">
      <div class="w-px-400 mx-auto">
        <!-- Logo -->
        {% comment %} <div class="app-brand mb-4">
          <a href="{% url 'index' %}" class="app-brand-link">
            <span class="app-brand-logo demo">
              {% include 'partials/logo.html' with height=20 bgcolor="fill: #fff;" %}
            </span>
          </a>
        </div> {% endcomment %}

        <div class="app-brand demo">
          <img src="{% static 'img/avatars/AIVendo.png' %}" alt="imagen" width="350" height="65">
      
          {% comment %} <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
            <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
          </a> {% endcomment %}
        </div>

        <div class="app-brand demo">
          <span class="app-brand-logo demo">
           
          </span>
      
          {% comment %} <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
            <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
          </a> {% endcomment %}
        </div>
        <!-- /Logo -->
        {% comment %} <h3 class="mb-1">Welcome to {% get_theme_variables 'template_name' %}! 👋</h3> {% endcomment %}
        <h3 class="mb-1">Welcome 👋</h3>
        <p class="mb-4">Please sign-in to your account and start the adventure</p>
        <div class="alert alert-primary small">
          <p class="text-caption mb-1"> Admin Email: <strong>admin@demo.com</strong> / Username: <strong>admin</strong></p>
          {% comment %} <p class="text-caption mb-1"> Client Email: <strong>client@demo.com</strong> / Username: <strong>client</strong></p> {% endcomment %}
          <p class="text-caption mb-0">Password: <strong>Pwd_1234</strong></p>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-warning{% endif %}" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <form id="formAuthentication" class="mb-3" action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="email" class="form-label">Email or Username</label>
            <input type="email" class="form-control" id="email" name="email-username" value="admin@demo.com" placeholder="Email/Username" autofocus />
          </div>
          <div class="mb-3 form-password-toggle">
            <div class="d-flex justify-content-between">
              <label class="form-label" for="password">Password</label>
              {% comment %} <a href="{% url 'forgot-password' %}">
                <small>Forgot Password?</small>
              </a> {% endcomment %}
            </div>
            <div class="input-group input-group-merge">
              <input type="password" id="password" class="form-control" name="password" value="Pwd_1234" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
              <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="remember-me">
              <label class="form-check-label" for="remember-me">
                Remember Me
              </label>
            </div>
          </div>
          {% if request.GET.next %}
          <input type="hidden" name="next" value="{{request.GET.next}}">
          {% endif %}
          <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
        </form>

        {% comment %} <p class="text-center">
          <span>New on our platform?</span>
          <a href="{% url 'register' %}">
            <span>Create an account</span>
          </a>
        </p> {% endcomment %}

      </div>
    </div>
    <!-- /Login -->
  </div>
</div>
{% endblock content %}
